div.clearfix{
	clear: both;
}

.page-container .page-top{
	clear: both;
}

.page-container .page-left{
	float: left;
	width: 25%;
}

.page-container .page-center{
	float: left;
	width: 50%;
	text-align: center;
}

.page-container .page-right{
	float: left;
	width: 25%;
}

.page-container .page-bottom{
	clear: both;
}
